@if $use-border-box == true{
	*{
		box-sizing: border-box;
	}
}

.row{
	width: 100%;
	max-width: $row-width;
	padding-left: $grid-gutter / 2;
	padding-right: $grid-gutter / 2;
	margin: 0 auto;
	@extend %cf;
	.row, .row .row{
		margin-left: -$grid-gutter / 2;
		margin-right: -$grid-gutter / 2;
		padding-left: 0;
		padding-right: 0;
	}
}

.columns{
	float: left;
	position: relative;
	width: 100%;
	margin-bottom: $doc-margin;
	.row &{
		padding-left: $grid-gutter / 2;
		padding-right: $grid-gutter / 2;
	}
}


@for $i from 1 through $grid-columns{

	.sml-#{$i}.columns{
		width: percentage($i / $grid-columns);

	}

}

@for $i from 1 through $grid-columns{

	.med-#{$i}.columns{
		@include mq(med-up){
			width: percentage($i / $grid-columns);
		}
	}

}

@for $i from 1 through $grid-columns{

	.lrg-#{$i}.columns{
		@include mq(lrg-up){
			width: percentage($i / $grid-columns);
		}
	}

}



