// The initial grid is all flexbox baby, but we include a fallback below
// based on the no-flexbox class given by modernizr

// Styles for everyone

.row{
	margin: 0 auto;
	max-width: $row-width / $doc-font-size * 1em;
}

// Flexbox styles
.row{
	display: flex;
	justify-content: space-around;
	> div{
		width: 100%;
		padding: $grid-gutter / 2 / $doc-font-size * 1em;
	}
}

.row{

}

// Blah styles