// Colors
	$selection-color: #b3d4fc;
	$brand-color: #0386ad;
	$primary-color: #089811;
	$secondary-color: #e8e8e8;

// Settings
	$support-ie8: true;
	$ie8-bp: 900px;
	$use-reset: false;
	$use-normalize: true;
	$use-border-box: true;

// Document Defaults
	$doc-font-size: 16;
	$doc-line-height: 1.6;
	$doc-radius: 3;
	$doc-margin: 1rem;

// Modular Scale
	$ms-primary: 16/$doc-font-size;
	$ms-secondary: 300/$doc-font-size;

	$ms-base: $ms-primary * 1em, $ms-secondary * 1em;
	$ms-ratio: $fifth;

// Headings
	@debug ms-list(0, 24, $ms-base, $ms-ratio);

	// Biggest stuff
		$giga-size: ms(8);
		$mega-size: ms(7);
		$super-size: ms(6);

	// Usual suspects
		// And the sizes handled by modular scale
		$h1-size: ms(5);
		$h2-size: ms(4);
		$h3-size: ms(3);
		$h4-size: ms(2);
		$h5-size: ms(1);
		$h6-size: ms(0);

	// Small stuff
		$small-size: $doc-font-size - 2px;
		$micro-size: $doc-font-size - 4px;

// Grid
	$row-width: 60rem;
	$grid-columns: 12;
	$grid-gutter: .5rem;

// Breakpoints
	$med-start: 500; // These can be in px because our mixin converts to ems
	$lrg-start: 1024;
