// Base
body{
	font-size: $doc-font-size * 1px;
	line-height: $doc-line-height;
}


// Headings
h1, h2, h3, h4, h5, h6{

}

.giga{
	font-size: $giga-size;
}

.mega{
	font-size: $mega-size;
}

.super{
	font-size: $super-size;
}

h1,
.h1{
	font-size: $h1-size;
}

h2,
.h2{
	font-size: $h2-size;
}

h3,
.h3{
	font-size: $h3-size;
}

h4,
.h4{
	font-size: $h4-size;
}

h5,
.h5{
	font-size: $h5-size;
}

h6,
.h6{
	font-size: $h6-size;
}

// Paragraph
p{

}

// Inline
small,
.small{
	font-size: $small-size;
}

.micro{
	font-size: $micro-size;
}