// Required Variables


// -----------
*{
	@include box-sizing(border-box);
}

.row{
	width: 100%;
	@include bh-clearfix;
}

[class*='col-'] {
  float: left;
  border-right: $gutter solid transparent;
  .row &:last-of-type {
    border-right: 0;
  }
}

.demo-col{
	text-align: center;
	background: #eee;
	padding: .5em;
}

// Spit out Grid classes
@for $i from 1 through $columns {
  .col-#{$i} { 
  	width: 100%;
  	@include respond-to(medium-screens){
  		width: percentage($i/$columns); 
  	}
  	@include respond-to(wide-screens){
  		width: percentage($i/$columns); 
  	}
  }
}
